@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 150, 285, 280;
  --background-end-rgb: 94, 183, 243;
  font-family: 'Montserrat', sans-serif;

}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background-image: url('/public/images/background.png'); */
  background: linear-gradient(to bottom, #0E6CAA, #7C6AA8, #D599BD, #EEC18F);
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}




/* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */